@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.form{
    position: absolute;
    right: 25%;
    top: 24%;
    width: 23%;
    overflow: hidden;
    @include mixin.mediaMovil(){
        top: 42%;
        right: 8%;
        width: 85%;
        margin: 0 auto;
    }

    &__label{
        text-transform: uppercase;
        font-size: .6rem;
        font-weight: bold;
        letter-spacing: .1rem;
        display: inline;

    }

    &__input{
        border: 1px solid vars.$gray;
        border-radius: .4rem;
        padding: .5rem .6rem;
        font-size: .8rem;
        width: 100%;
        margin: .4rem 0 .3rem 0;
        outline: none;

        &:focus{
            border: 1px solid hsl(278, 94%, 30%);
        }
    }

    &__div{
        width: 40%;
    }

    &__date,&__info{
        @include mixin.flex(start,start,row);
    }

    &__cvc{
        width: 59%;
    }

    &__submit{
        width: 100%;
        background: map-get(vars.$violes, "veryDark" );
        color: #fff;
        font-size: .8rem;
        padding: .7rem;
        border-radius: .4rem;
        cursor: pointer;
    }

    &__error{
        font-size: .8rem;
        color: vars.$red;
        margin-bottom: 1rem;
        display: block;

        &:last-child{
            margin-left: .8rem;
        }
    }
}