@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

$white: hsl(0, 0%, 100%);
$black: hsl(0,0%,0%);
$font: 'Space Grotesk', sans-serif;
$gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
$gray: hsl(230°, 7%, 84%);


$violes:(
   "light": hsl(270, 3%, 87%),
   "dark": hsl(279, 6%, 55%),
   "veryDark" :hsl(278, 68%, 11%)
)